/* * {
    border: 2px black solid;
} */
@font-face {
    font-family: punk_kid;
    src: url(punk_kid.ttf);
}

@font-face {
    font-family: event_font;
    src: url(Mustasurma.ttf);
}
@font-face {
    font-family: dracutaz;
    src: url(Dracutaz.ttf);
}

body {
    background-color: rgb(32, 14, 227);
    font-family: dracutaz, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(118, 8, 235);
}


.site-logo {
    font-family: punk_kid;
    font-size: 2rem;

    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 1rem;
}

.site-main {
    padding: 20px;
}

.welcome {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 0, 219);
    border-radius: 25px;
}

#welcome-text {
    font-size: 1.2rem;
    line-height: 1.6;
}

.hero_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.hero_image img{
    width:100%;
    border-radius: 25px;
}

.events {
    color:  rgb(253, 0, 219);
    margin-top: 20px;
    padding: 40px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

.event {
    border: rgb(253, 0, 219) 1px solid;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    max-width: 300px;
}

.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.event-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.site-footer{
    margin-top: 10px;
    border-radius: 20px;
    align-items: center;
    padding: 15px 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color:  rgb(118, 8, 235);
    
}
/* Using grid without media queries and mobile responsive */
/* .event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
} */

