
@font-face {
    font-family: punk_kid;
    src: url(punk_kid.ttf);
}

@font-face {
    font-family: event_font;
    src: url(Mustasurma.ttf);
}
@font-face {
    font-family: dracutaz;
    src: url(Dracutaz.ttf);
}

body {
    background-color: rgb(32, 14, 227);
    font-family: dracutaz, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(118, 8, 235);
}


.site-logo {
    font-family: punk_kid;
    font-size: 2rem;

    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin: 0 1rem;
}

.site-main {
    padding: 20px;
}

.welcome {
    text-align: center;
    padding: 40px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 0, 219);
    border-radius: 25px;
}

#welcome-text {
    font-size: 1.2rem;
    line-height: 1.6;
}

.hero_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}

.hero_image img{
    width:100%;
    border-radius: 25px;
}

.events {
    color:  rgb(253, 0, 219);
    margin-top: 20px;
    padding: 40px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

.event {
    border: rgb(253, 0, 219) 1px solid;
    background-color: black;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    max-width: 300px;
}

.event img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
.event ul li{
    text-align: left;
}
.event-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:  rgb(253, 0, 219);
    background-color: black;
    text-align: center;
    max-width: 1000px;
    height: 300px;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
}
.menu table{
    border-color: rgb(253, 0, 219);
    border: 1px;
  width: 100%;
}
.menu td th {
    border: 1px solid rgb(253, 0, 219);
    text-align: left;
    padding: 8px;
  }
  
  .menu tr:nth-child(even) {
    background-color: rgba(253, 0, 219, 0.219);
  }

  .menu_img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .menu_images{
    border: rgb(253, 0, 219) 1px solid;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    max-width: 300px;
  }
  .menu_images img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.location{
    align-items: center;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.map{
    border: rgb(253, 0, 219) 1px solid;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
}
  
.hours{
    border: rgb(253, 0, 219) 1px solid;
    background-color: black;
    color:  rgb(253, 0, 219);
    margin: 5px;
    border-radius: 15px;
    padding-left: 100px;
    padding-right: 100px;
}

.contact{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
}

.contact form{
    color: rgb(253, 0, 219);
    border: rgb(253, 0, 219) 1px solid;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
}
#submit{
    background-color:black; 
    color: rgb(253, 0, 219);
    border: rgb(253, 0, 219) 5px inset;
    border-radius: 15px;
    padding: 15px 32px;
    align-self: center;
    font-size: 16px;
    margin-left: 130px;
    margin-top: 15px;
  }

  #submit:hover{
    background-color: rgb(253, 0, 219);
    color:black;
    border: rgb(55, 53, 53) 5px outset;
  }

.site-footer{
    margin-top: 10px;
    border-radius: 20px;
    padding: 15px 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color:  rgb(118, 8, 235);
    

}

